<!-- app.component.html -->
<app-header (onButtonClick)="handleButtonClick($event)"></app-header>

<main>
  <div class="content">
    <!-- Data Used -->
    <div class="sectionData">
      <h2>Data Table</h2>
      <table class="tableData">
        <thead>
          <tr>
            <th>ID</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsData">
            <td>{{ item.id }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Algorithm Benchmark Results -->
    <div class="sectionResults">
      <h2>Algorithm Benchmark Results</h2>
      <table class="tableData">
        <thead>
          <tr>
            <th>Operation</th>
            <th>Duration (millisecond)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Create</td>
            <td>{{ benchmarkResults.create }} ms</td>
          </tr>
          <tr>
            <td>Read</td>
            <td>{{ benchmarkResults.read }} ms</td>
          </tr>
          <tr>
            <td>Update</td>
            <td>{{ benchmarkResults.update }} ms</td>
          </tr>
          <tr>
            <td>Delete</td>
            <td>{{ benchmarkResults.delete }} ms</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
